.sign {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(143, 143, 143, 0.192);
  box-shadow: 2px 2px 5px rgba(26, 26, 26, 0.767);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sign img {
  width: 100px;
}
